body {
    padding-bottom: 60px;
}
a:hover {
    text-decoration: none;
}
#main-table{
    width: 100%;
    max-width: 100%;
}
.btn span.fa-check {
    opacity: 0;
}
.btn.active span.fa-check {
    opacity: 1;
}