@model InventoryAccounting.Models.DB.Tmc

@{
    ViewData["Title"] = "Добавить";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="modal-placeholder"></div>
<div class="row my-2">
    <div class="col-md-12">
        <h2>@ViewBag.Header</h2>
        <hr/>
        @await Html.PartialAsync("_Input", Model)
        <div class="form-group">
            <input type="submit" form="form" value="@ViewBag.Button" class="btn btn-dark  mr-1"/>
            <a asp-action="Index" class="btn btn-dark">Назад</a>
        </div>
    </div>
</div>
<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function(){
        UpdatePersons();
        UpdateActs();
        UpdateRooms();
    });
</script>


