@model IEnumerable<InventoryAccounting.Models.DB.Tmc>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="modal-placeholder"></div>
<div class="row">
    <div class="container-fluid my-2">
        <h2 class="d-inline">Товарно-материальные ценности</h2>
        <a asp-action="Create" class="d-inline float-right text-dark fas fa-plus-circle fa-2x"></a>
    </div>
    <div class="container-fluid">
        @await Html.PartialAsync("_Table", Model)
    </div>
</div>
