@model IEnumerable<InventoryAccounting.Models.DB.Tmc>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="modal-placeholder"></div>
<div class="row">
    <div class="container-fluid my-2">
        <div class="row">
            <h2>Товарно-материальные ценности</h2>
            <a asp-action="Create" class="ml-auto text-dark fas fa-plus-circle fa-2x"></a>
        </div>
    </div>
    @await Html.PartialAsync("_Table", Model)
</div>
