@using Microsoft.AspNetCore.Identity
@using InventoryAccounting.Models
@inject SignInManager<User> SignInManager
@if (SignInManager.IsSignedIn(User))
{

<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Данные</a>
    <div class="dropdown-menu">
        <a asp-area="" asp-controller="Tmc" asp-action="Index" class="dropdown-item" id="tmc-tab" >Товарно-материальные ценности</a>
        <a asp-area="" asp-controller="Persons" asp-action="Index" class="dropdown-item">Ответственные лица</a>
        <a asp-area="" asp-controller="Rooms" asp-action="Index" class="dropdown-item">Помещения</a>
        <a asp-area="" asp-controller="Acts" asp-action="Index" class="dropdown-item">Акты</a>
        <a asp-area="" asp-controller="Contracts" asp-action="Index" class="dropdown-item">Контракты</a>
        <a asp-area="" asp-controller="Companies" asp-action="Index" class="dropdown-item">Компании</a>
    </div>
</li>
}
