@model InventoryAccounting.Models.DB.Acts

<div class="modal-header">
    <h5 class="modal-title">Добавление акта</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-md-12">
            <form asp-action="CreateModal">
                <input name="IsValid" type="hidden" value="@ViewData.ModelState.IsValid.ToString()" />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Id" class="col-form-label"></label>
                    <input asp-for="Id" class="form-control"/>
                    <span asp-validation-for="Id" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CompilationDate" class="col-form-label"></label>
                    <input asp-for="CompilationDate" class="form-control" type="date"/>
                    <span asp-validation-for="CompilationDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ContractId" class="col-form-label"></label>
                    <div class="input-group">
                        <select id="ContractsSelect" asp-for="ContractId" class="form-control"></select>
                        <div class="input-group-append">
                            <a href="#" class="btn btn-outline-secondary" onclick="UpdateContracts()"><i class="fas fa-redo-alt"></i></a>
                            <a href="#" class="btn btn-outline-secondary" data-target="#modal-container" data-toggle="modal" data-url="@Url.RouteUrl(new {controller = "Contracts", action = "CreateModal"})">Добавить</a>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Добавить</button>
                </div>
            </form>
        </div>
    </div>
</div>


